<h1>Le Dernier Restaurant avant la Fin du Monde</h1>
<p class="logo"><%= image_tag "logo_restau_a_la_fin_de_l_univers.png", width: 400, alt: "Logo Ad Hoc" %></p>
<h2>La fin du monde en direct accompagnées de vins fins</h2>

<div id="container">
  <div id="containerTabs">
    <div id="presentationTab" class="tab">
      <h3>Présentation</h3>
    </div>

    <div id="menuTab" class="tab">
      <h3>Menu</h3>
    </div>

    <div id="specialsTab" class="tab">
      <h3>Spécialités</h3>
    </div>
  </div><!-- fin ContainerTabs -->

  <div id="presentation">
    <p class="logo"><%= image_tag "dont_panic.png", alt:"Don\'t panic", width: 100 %></p>
    <h4 class="title">Notre Restaurant</h4>
    <br />
    <p class="pTxt">Situé à la toute fin de l'univers et du temps, notre restaurant vous accueille dans une atmosphère unique au monde.</p>
    <p class="pTxt">Vous pouvez y déguster la cuisine raffinée de milles mondes, dont certains disparus, accompagné du célèbre Pan Galactic Gargle Blaster.</p>
    <p class="pTxt">Le restaurant est à votre disposition quels que soit le jour ou l'heure pour tous types d'évènements (anniversaires, repas d'affaires, noces, bar mitzvah...). Il peut aussi être complètement privatisé pour des occasions exceptionnelles comme... la fin du monde ! </p>
  </div>

  <div id="menu">
    <p class="logo"><%= image_tag "menu.png", alt:"Don\'t panic", width: 100 %></p>
    <h4 class="title">Les Menus</h4>
    <p class="pTxt">Fricassée d’abats d’efafnr à la sauce magma, de la planète Tibbar</p>
    <p class="pTxt">Gloubiboulga, de chez Casimir</p>
    <p class="pTxt">Soleil vert, spécialité ancienne de Terra</p>
    <ul class="pTxt"><b>Menu Zeitoun</b>
      <li class="pTxt">moukraines à la glaviouse</li>
      <li class="pTxt">sfinktouzes à la crème</li>
    </ul>
  </div>

  <div id="specials">
    <p class="logo"><%= image_tag "cocktails.png", alt:"Don\'t panic", width: 100 %></p>
    <h4 class="title">Nos Boissons</h4>
    <p class="pTxt">Pan Galactic Gargle Blaster</p>
    <p class="pTxt">Bière Romulienne</p>
    <p class="pTxt">La dernière bouteille de Scotch en provenance d'Ecosse</p>
  </div>


</div> <!-- fin Conteneur -->
