html, body{
  margin: 0;
  padding: 0;
}
body{
  background-color: lightblue;
  background-image: image-url("ciel-clair.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: #000099;
  font-family: fantasy;
  text-align: center;
  font-size: 3.5em;
}
h2{
  color: #000099;
  font-family: fantasy;
  text-align: center;
  font-size: 2em;
}
.logo{
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
}
#container{
  display: flex;
  flex-direction: column;
  margin: 50px 20%;
}
#containerTabs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.tab{
  background-color: #FFFFFF;
  border: solid 2px #000099;
  border-radius: 5px;
  padding: 0px 20px;
}
h3{
  color: #000099;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5em;
}
h4{
  color: #000099;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2em;
}
.title{
margin-top: 50px;
}
.pTxt{
  color: #000099;
  font-family: sans-serif;
  font-weight: normal;
  text-align: justify;
  font-size: 1em;
  padding: 0px 30px;
}

// CSS carrousel
html, body{
  background-color: lightblue;
}
#carrousel{
  border: solid #000099 5px;
  width: 275px;
  height: 240px;
  margin: 0 auto;
  position: relative;
}
.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 264px;
  height: 218px;
}
.title{
  position: absolute;
  padding-left: 10px;
  width: 265px; /* 275 - 10 px */
  height: 35px;
  line-height: 35px;
  bottom: 0;
  left: 0;
  background-image: image-url("opague.png") top left repeat;
}
.navigation{
  position:absolute;
  top: 218px;
  right: 105px;
}
.navigation span{
  background-color: #000099;
  color: #FFFFFF;
  padding: 2px 4px;
  font-family: sans-serif;
  cursor: pointer;
}
.navigation span:hover,.navigation span:active{
  background-color: #FFFFFF;
  color: #000099;
}
#next{
  position:absolute;
  top: 213px;
  right: 5px;
  width: 25px;
  height: 25px;
}
#previous{
  position:absolute;
  top: 213px;
  left: 5px;
  width: 25px;
  height: 25px;
}
